body {
    font-family: Arial, sans-serif;
  }
.navbar {
    padding-top: 5%;
    position: relative;
    width: 300px;
    height: 10px;
    margin-left: 5%;
    margin-right: 5%;
}
.box_1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: white;
    border: 0.1em solid black;
    margin-top: 5%;
    font-size: 20px;
    text-align: center;
    padding: 0.4em;
    cursor: pointer;
    font-family: 'Jost', sans-serif;
    font-weight: 600px;
}
a {
    text-decoration: none;
 }
b {
    color: black;
}
.box_2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: black;
    border: 0.1em solid black;
    margin-top: 5%;
    font-size: 20px;
    text-align: center;
    padding: 0.4em;
    cursor: pointer;
}
  header, section {
    height: 10%;
    margin: 20px;
    padding: 15px;
  }
  
  #map {
    width: 960px;
    height: 600px;
    border: 1px solid #aaa;
  }
  
  h1, h2 {
    color: #333;
  }
  
  p {
    line-height: 1.6;
  }
  
